[2018-02-26 12:52] piotr-yuxuan opened #1 "Add it in Homebrew?"
Hiya there,
Thanks for that tool which sounds promising and fun :-)
Have you ever thought about releasing it on Homebrew?

[2018-02-26 13:01] zachcurry commented on #1
Hi, @piotr-yuxuan 👋

My pleasure! If this tool starts getting some use out there in the real world, I'd love to release on Homebrew! Congratulations on being the first to open a ticket in the repo! Woot! 🍾

[2018-02-28 14:04] kevroletin opened #2 "Document supported platform in Readme"
Screenshots and .dmg suggests it's OS X only?

[2018-02-28 16:35] petrosb opened #3 "Copy selection to clipboard when invoked."
Would be nice if I select something in the text box before opening emacs to have it appear in the emacs buffer so I can edit it before pasting again. Here is how to do it (two trivial changes; feel free to incorporate it if you want, or I can create a pull request if you prefer, or just ignore it):

on run {input, parameters}
	tell application "System Events"
		set appName to name of first applica

[2018-02-28 16:36] petrosb commented on #3
Great script, btw. Very useful!

[2018-02-28 20:20] zachcurry commented on #3
Hi, @petrosb :wave: !
I like it! I need to separate the Elisp from the Applescript and put it all together in a build step. Then, we can put things like this into their respective script files where one can uncomment some lines to enable certain functionality.

I'll work on cleaning this thing up as I've described. Then, it should be easier to add to via pull requests. Stay tuned...

[2018-02-28 20:23] zachcurry opened #4 "Separate Elisp from Applescript and join in build step(s)"
Everything is savagely crammed into the .workflow and needs to be separated into their own files. Use a build script to put them back together.

[2018-02-28 20:25] zachcurry commented on #2
Agreed! Thanks @kevroletin !

[2018-02-28 23:57] #2 closed

[2018-03-01 00:04] zachcurry opened #6 "Support Windows"

[2018-03-01 00:04] zachcurry opened #7 "Support Linux"

[2018-03-01 10:41] mrmen opened #8 "Not working with Aquamacs ?"
I tried emacs-anywhere on my Mac. It's working with

GNU Emacs 25.3.1 (x86_64-apple-darwin13.4.0, NS appkit-1265.21 Version 10.9.5 (Build 13F1911))
 of 2017-09-12

but not with

Aquamacs 3.3  GNU Emacs 25.1.1 (x86_64-apple-darwin14.1.0, NS appkit-1344.72 Version 10.10.2 (Build 14C109)) of 2016-09-20

On both, an emacs-anywhere buffer open, but it's still spinning on the top with Aquamacs when I cl

[2018-03-01 10:51] zeltak commented on #7
Hi, thx so much for this effort. I dont know how to program but would love to help in other ways (testing etc) since this could be really cool and useful

best

Z

[2018-03-01 15:35] zachcurry commented on #7
That sounds awesome @zeltak ! As soon as we can get it working, we’ll need to test this out in Linux. Also, the README could always use some work. It’s really cool of you to offer to help! 👍

[2018-03-01 15:46] zachcurry commented on #8
I doubt your doing anything wrong. I suspect Aquamacs doesn’t like the Elisp it’s being passed but I can’t be sure. By God, if we can, we will support Aquamacs! Thanks for bringing this issue up @mrmen !

[2018-03-01 17:35] DavidLarsson commented on #7
Hi! This seems like a really worthwhile project. I use Emacs daily and using it everywhere is something I would want. Do you have anyone working on a Linux version (I run Ubuntu 16.04) or any ideas on where to get started? I'm really interested in getting going on this. I think a first thing to consider is if the different desktop environments need to be handled differently from one another.

[2018-03-01 19:42] zachcurry commented on #7
Hi @DavidLarsson ! It's awesome to hear you are optimistic about this project's utility!

I'm going to push a branch to get us started with this sometime today. Feel free to contribute and discuss as the work unfolds.

Right now, there is just a dmg and little script I wrote (hacked) just to make this thing work for me in OSX. We need to write bash script to check the OS it's running in and instal

[2018-03-02 01:58] ylluminarious commented on #1
@zachcurry The [homebrew-core](https://github.com/Homebrew/homebrew-core) repository only accepts programs that can be built from source. So you should probably populate this repo with some sources. However, [homebrew-cask](https://github.com/caskroom/homebrew-cask) might be a better bet and a better fit.

[2018-03-02 02:01] ylluminarious commented on #8
@zachcurry Please also make sure that this program works well with [the Emacs Mac Port](https://bitbucket.org/mituharu/emacs-mac/) by Yamamoto Mitsuharu. His fork of Emacs provides native macOS GUI features and it really can make Emacs feel like a slicker experience on a Mac.

[2018-03-02 02:14] zachcurry commented on #8
@ylluminarious If I can, I will make it so.  Have you scouted it out?

[2018-03-02 02:16] ylluminarious commented on #8
@zachcurry I have not yet. I can try it out in within several days, if you'd like.

[2018-03-02 02:25] zachcurry commented on #1
@ylluminarious  I'm working on adding support for Linux and it's transitioning to being built from source.  'Cask might be a good fit for distributing the DMG, but I've not looked into it yet. The more discussion we have around this sort of thing the better. Thanks @ylluminarious !

And I'll try to push this new branch I'm working within the next several hours so y'all can get in there.

[2018-03-02 02:27] zachcurry commented on #8
@ylluminarious that would be siiick if you could! If it doesn't work go ahead and open a new issue.

[2018-03-02 02:45] ylluminarious commented on #1
@zachcurry Thanks! That sounds great!

[2018-03-02 21:21] MasonProtter opened #10 "Can't launch emacs anywhere"
When I try to activate my shortcut I get an error message

[code]

`emacs` and `emacsclient` are both `PATH` variables for me.

I'm using MacOS 10.13.3

[2018-03-02 21:50] zachcurry commented on #10
There is an issue with Automator where it invokes bash with the default PATH variable. Normally dotfiles are run and the PATH is modified to include, for example ‘/usr/local/bin’. My guess is that it’s not finding the same ‘emacsclient’ executable as is when you run ‘emacsclient’ without the shortcut.

Does it work if you run ‘emacsclient’ from terminal without the shortcut? If so, it’s most likel

[2018-03-02 22:20] MasonProtter commented on #10
Yeah, I can run `emacsclient` from the terminal no problem, so you're probably right. Do you know a way to fix that?

[2018-03-02 22:28] zachcurry commented on #10
The only way I know how to fix this is to do it on our end by running all the scripts which contribute to the path manually before it tries to launch `emacsclient`.

Could you try with these options `emacsclient -a '' -c` in the Terminal and see if that works as well?

[2018-03-02 22:37] MasonProtter commented on #10
`emacsclient -a '' -c` works fine.

[2018-03-02 22:39] zachcurry commented on #7
@zeltak, @DavidLarsson could you test [#9](https://github.com/zachcurry/emacs-anywhere/pull/9) on Linux if you get a chance?

[2018-03-02 22:41] zachcurry commented on #1
@ylluminarious @piotr-yuxuan could you help me test/review this [pull request](https://github.com/zachcurry/emacs-anywhere/pull/9)?

[2018-03-02 22:45] zachcurry commented on #10
Thanks @MasonProtter ! I'll open an issue so we can try to fix the path on our end. In the meantime, if you have both executables in `usr/local/bin` it should allow you to work around this this until I can do something about it on my end.

[2018-03-02 22:51] MasonProtter commented on #10
Both `emacs` and `emacsclient` are in `usr/local/bin` for me though...

[2018-03-02 23:03] zachcurry commented on #10
That is peculiar 😅

[2018-03-02 23:09] MasonProtter commented on #10
This should be independent of whats in my dotfile, correct? I'm asking as I use spacemacs but I don't see how that should have a great effect.

[2018-03-02 23:14] MasonProtter commented on #10
Interestingly, if I `M-x server-force-delete` so that I'm no longer running an emacs server, the errormessage I get is different. I end up getting
[code]

That last line seems to maybe imply that the problem is that I don't have a .emacs file and instead have a .spacemacs file. Any thoughts?

[2018-03-02 23:23] zachcurry commented on #10
I'm running Spacemacs too, so I'm not sure if that's it. I would suggest you open Automator, create a service to run `PATH=/usr/local/bin:$PATH ; emacsclient -a '' -c` and see if you can debug it from there. If it works in Terminal and not when run through Automator, my only guess is that it is a `PATH` issue. Keep me posted and I'll try to do what I can to help 😃

[2018-03-02 23:28] MasonProtter commented on #10
So I created a new service which just runs the following shell script:
[code]

It immediately returns an error
[code]

[2018-03-02 23:43] zachcurry commented on #10
Damn! One of us should offer this up to Stackoverflow and see if we can get some help with this. So strange!

[2018-03-02 23:44] zachcurry commented on #10
What version of Emacs are you rocking?

[2018-03-02 23:45] MasonProtter commented on #10
25.2

[2018-03-02 23:45] MasonProtter commented on #10
I'll make an SO post

[2018-03-02 23:46] zachcurry commented on #10
Thanks! Drop a link and I’ll keep an eye on it

[2018-03-03 00:01] MasonProtter commented on #10
https://stackoverflow.com/questions/49079179/opening-emacsclient-in-terminal-works-but-wont-work-with-automator

[2018-03-03 15:07] zeltak commented on #7
Hi @zachcurry

i tested on arch linux (dont have an ubuntu machine but can test mondat at work).
it installs well and the keybind pops up the emacs frame.
yet i cant seem to get the text to be pasted in the previous source window. i tried both M-x `delete-frame` and just closing with no success

happy to keep debugging!

Z

[2018-03-04 08:52] #7 closed

[2018-03-04 08:54] zachcurry opened #11 "Add an Emacs command to toggles Emacs Anywhere on/off"

[2018-03-04 10:07] #4 closed

[2018-03-04 10:34] trentandraka opened #12 "Errors when running install script on GNU/Linux"
When I run the install script (through `./emacs_anywhere/install`) on my system (Manjaro Linux), I get the following errors (before it says it was successfully installed anyways):

[code]
It wasn't installed correctly, however, since trying to set the shortcut with the provided terminal command doesn't work. What's the fix?

I get that the GNU/Linux release is still in alpha, just wanted to point

[2018-03-04 11:42] zachcurry commented on #12
You did the right thing! If you get a chance have a look at the install script and see anything stands out as the likely cause. Thanks 🙏

[2018-03-04 17:15] psibi opened #18 "Didn't work on my Linux setup"
I have an xmonad setup on top of Ubuntu. I debugged and found that the reason why it wasn't working on my machine: After the elisp command `(kill-buffer "*Emacs Anywhere*")` gets executed, the X clipboard doesn't have anything in the clipboard. I changed the algorithm slightly like this:

[code]

And then it started working. Ofcourse, I also had to change the `run` command accordingly. Honestly, I

[2018-03-04 17:38] psibi commented on #12
Another data point: Installation work fine on my Ubuntu machine.

[2018-03-04 17:56] reedlaw commented on #12
I `cd`'ed to `./emacs_anywhere` and ran `./install` and the files were copied correctly. But I could not get it to launch via keyboard shortcut (Arch Linux).

[2018-03-04 18:31] beshrkayali commented on #18
Same for me on my Arch setup. I also thought that it'd be better to just write to file and not mess with clipboards, but I'm having an issue with `xdotool type` bungling the insertion of newline chars and I'm curious to know how you got the `run` script working.

Here's my version of it:
[code]

[2018-03-04 18:35] psibi commented on #18
@beshrkayali  I modified the run command to this:

[code]

Let me know if that works for you!

[2018-03-04 18:43] beshrkayali commented on #18
hmm.. looks similar to what I have, but strangely, `xdotool` is not inserting newlines properly. I think most likely because of this https://unix.stackexchange.com/a/399638.

[2018-03-04 18:47] psibi commented on #18
@beshrkayali Oh yeah, just noticing it. Even my setup doesn't insert newlines properly. Would love to know if  you would come up with any workaround.

[2018-03-04 19:11] beshrkayali commented on #18
@psibi Yep! I borrowed the one-liner from Gilles answer, which basically replaced newlines chars with carriage returns.

Here's how it looks now:
[code]

[2018-03-04 19:13] michaelsbradleyjr commented on #10
It's not working consistently for me, for some reason; not sure if the problem is related to the PATH issue or something else.

I'm running macOS 10.13.3, Emacs 25.3.1.

The behavior I'm seeing is that in some contexts, such as the search bar of Console.app, it's working as expected. However, when I try to invoke it in Mail.app or a text input of a web page (tried Chrome, Safari, Firefox), nothing

[2018-03-04 19:17] psibi commented on #18
Awesome!

That works. This comment is from Emacs. :-)

[2018-03-04 19:45] BontaVlad commented on #18
@beshrkayali  solution works great, but if you want to skip "typing" long buffers and have xclip on hand
[code]

[2018-03-04 19:49] psibi commented on #18
@BontaVlad The problem with your approach is that it won't work for all applications. For `gnome-terminal`, the paste command is `Shift + Ctrl + V`. Also using clipboard mechanism is not that reliable in a Linux machine. Also in my experience, debugging errors from `xclip` has always been painful.

[2018-03-04 20:03] zachcurry commented on #18
Thanks! Send a pull request if you think it will help others avoid the same issue. Glad you got it working @psibi !

[2018-03-04 20:04] BontaVlad commented on #18
@psibi I agree. What I proposed should not be taken as a general, solve all solution, it's just a quick hack to solve my use case and maybe should prove useful for some other internaut. My scenario for using emacs anywhere usually involves long text edits so making xdotool type everything either takes to long  or "skips" a letter or two.

[2018-03-04 20:08] beshrkayali commented on #18
@BontaVlad  @psibi
True, but I still prefer not to mess with clipboards or replace previously held text.

Adding a `--delay 1` (default is 12ms) somewhat solves the issue of long-ish text:

[code]

[2018-03-04 21:05] psibi commented on #18
@beshrkayali @BontaVlad Have sent a PR with some improvements for Linux: https://github.com/zachcurry/emacs-anywhere/pull/23

Let me know if something there concerns you or can be improved.

[2018-03-04 21:32] beshrkayali commented on #18
@psibi looks good!

One small issue is that the manpage for `xdotool` suggests that `getactivewindow` is more reliable than `getwindowfocus`. I have not found this to be the case however (I'm running i3), it's the opposite actually.

Not exactly sure why or if it might affect other window managers.

[2018-03-04 21:34] psibi commented on #18
@beshrkayali

I agree! In fact `getactivewindow` was failing in my setup too (XMonad). Thanks for the review. :-)

[2018-03-04 21:35] gisborne opened #25 "Install and uninstall scripts fail when not run from the root of the repo"
[code]

[2018-03-04 22:31] zachcurry commented on #10
I can say with certainty that there are issues in OSX when using multiple displays. Think that might be the issue for you @michaelsbradleyjr ?

[2018-03-04 22:35] zachcurry commented on #25
Thanks @gisborne ! I'll take a look at this.

Trying running install from within the repository and see if that fixes it
[code]
If it does, we'll need to open an issue to update the install script not to care where it is called from.

[2018-03-04 23:04] michaelsbradleyjr commented on #10
I'm only using built-in display of my macbook pro.

[2018-03-04 23:08] zachcurry commented on #10
The PATH could be a problem. When Automator invokes shell commands it does not prepare the PATH variable as per usual. I'll open a ticket for this.

Also, someone pointed out to me that the install script fails if not run from the root of the repository. You might check that as well. I've opened an issue for this problem and expect to resolve it soon.

[2018-03-05 02:34] fiveNinePlusR commented on #25
it fails for me as well on osx but for different reasons...

`zsh: ./install: bad interpreter: /bin/bash^M: no such file or directory`

and same when running it inside bash

[2018-03-05 02:38] gisborne commented on #25
On Mar 4, 2018, at 14:35 , Zach Curry <notifications@github.com> wrote:

$ cd emacs-anywhere/
gisborne at Hermes in ~/emacs-anywhere on master*
$ ./install
Emacs Anywhere has been installed # this isn’t correct
gisborne at Hermes in ~/emacs-anywhere on master*
$ ./uninstall
./uninstall: line 5: syntax error in conditional expression
./uninstall: line 6: syntax error near `then'
./uninstall: line 6

[2018-03-05 02:41] fiveNinePlusR commented on #25
my line endings are dos for some reason instead of what they should be as unix line endings.

[2018-03-05 07:38] enko commented on #6
I think a good approach at this would be using [AutoHotkey](https://autohotkey.com/).

[2018-03-05 10:17] tosmi commented on #10
i had a similar problem with "Emacs for MacOS X" and brew emacs installed in parallel. my shell's $PATH points to /usr/local/bin/emacs (installed via brewer).

emacs anywhere was using /usr/local/bin/emacsclient, so i had to change the call to emacsclient in emacstask to
[code]
to get it working. i'm now using
[code]
in `emacstask` so it uses the emacsclient that comes with 'Emacs for MacOS X'.

t

[2018-03-05 10:23] jaimehrubiks opened #27 "Edit text"
I don't know what you think but, I've thought about whether it would be better if selected text (or text in a text field) should be pre-inserted in emacs or not. Another idea could be to provide a settings for emacs-everywhere to choose things like this.
The current alternative isn't that bad either, one must just select and copy the text, and then paste it on emacs, after it would be replaced bec

[2018-03-05 10:59] ninrod opened #28 "linux: provide arch PKGBUILD"
Hi and thanks for the fine program. Just filling in this issue so that we maybe have in the future a package for arch users on the AUR repo.

thanks again

[2018-03-05 16:57] zachcurry commented on #28
Thanks @ninrod !

[2018-03-05 17:04] zachcurry commented on #27
Hi @jaimehrubiks ! I think this issue is similar to [#3](https://github.com/zachcurry/emacs-anywhere/issues/3). Thanks!

[2018-03-05 19:03] jaimehrubiks commented on #27
I didn´t see that issue! I´ll close then. Thanks.

[2018-03-05 19:03] #27 closed

[2018-03-05 21:20] fiveNinePlusR commented on #25
to clarify, mine does fail when run from the root of the repo using `./install`

[2018-03-05 22:52] MasonProtter commented on #10
Okay I finally figure it out.

I changed the script from
[code]
to
[code]

and that did the trick.

[2018-03-06 08:10] jaimehrubiks commented on #27
By the way, I am really enjoying this software, it is so fun!. Thanks.

[2018-03-06 08:55] zachcurry commented on #27
I’m  really happy you’re getting some use out of it! And I appreciate you getting involved and helping us out. Thank you!

[2018-03-06 21:50] ylluminarious opened #30 "Not working with the Emacs Mac Port?"
As per the discussion at https://github.com/zachcurry/emacs-anywhere/issues/8, I tried this with the Emacs Mac Port and it seems that nothing happens. There is a little gear icon in the menu bar for a moment, but then nothing happens and the gear icon disappears. Is there a log file somewhere which could give a clue as to what's going wrong?

[2018-03-06 22:32] zachcurry commented on #30
@ylluminarious Thank you for creating an issue for this!

We are two weeks into this project and it is still very immature . It does just enough to work in some environments.

I'm going to try to release v1.1 in the next week. It should fix a majority of the issues we've seen thus far as well as add some helpful runtime error messages and debugging/verification upon install. I'll add an issue for

[2018-03-06 22:42] zachcurry commented on #1
@ylluminarious you were right about Homebrew not making sense for this repository! I had a chance to look into it yesterday and what you've said makes total sense now.

I've had a look at how [vim-anywhere](https://github.com/cknadler/vim-anywhere) handles installation and updates and I think it would be best if we take a similar approach. Thoughts on this?

Thank again @ylluminarious !

[2018-03-06 22:49] ylluminarious commented on #30
@zachcurry Great, thanks for the info!

[2018-03-06 22:53] ylluminarious commented on #1
@zachcurry No problem! I think that doing things like that would be fine, although you could still create a homebrew formula in this repo that can be tapped by homebrew users. Whatever you like best.

[2018-03-06 23:09] zachcurry commented on #1
@ylluminarious I like the idea of adding a formula to the repo. I'll defer to you on this matter since I know close to nothing about Homebrew.

[2018-03-08 20:28] meereeum commented on #30
similarly, emacs-mac works when run directly from repo, but seemingly not via shortcut (sometimes does nothing, sometimes shows gear but does nothing, sometimes pastes from clipboard without opening emacs ?). nonetheless, v exciting!

[2018-03-09 08:49] DavidLarsson commented on #18
Further comments on the PR: [PR tests](https://github.com/zachcurry/emacs-anywhere/pull/23#issuecomment-371749814)

[2018-03-09 09:48] m-cat commented on #30
Seconding @meereeum. I am able to run using `./run` as mentioned above, but when using a shortcut it pastes from clipboard.

[2018-03-09 14:44] zachcurry opened #35 "Check dependencies on installation"
Let's at least make sure the dependencies exist in the environment before we install and tell the user what's missing, if anything.

[2018-03-09 14:52] zachcurry commented on #30
@ylluminarious, @meereeum, @m-cat, I have a new [PR](https://github.com/zachcurry/emacs-anywhere/pull/34) up that does some checks  on install and may provide some helpful debugging. Also, I have removed some code that modified the PATH variable when run via the shortcut. Perhaps this change will resolve your issue(s)!

[2018-03-09 16:46] m-cat commented on #30
Thanks @zachcurry! Unfortunately, it still doesn't work for me. Output from installation:

[code]

It still pastes from the clipboard when run via shortcut.

I really hope we can resolve this, can't wait to use it :)

[2018-03-09 19:47] zachcurry commented on #18
At this point I'm not ready to adopt this alternative. When I get the time I'll look into the efficacy of avoiding the clipboard. Thanks!

[2018-03-09 19:47] #18 closed

[2018-03-09 20:04] zachcurry commented on #30
@m-cat Thanks! I'm going to get the bottom of this as quickly as I can.

[2018-03-09 22:12] #25 closed

[2018-03-09 22:12] #12 closed

[2018-03-09 22:12] #35 closed

[2018-03-10 09:26] DavidLarsson opened #36 "Does not work on Ubuntu"
This release does not work on Ubuntu as is stated. I don't use Wayland. See previous issues that are closed for reproduction of error.

[2018-03-10 15:44] zachcurry commented on #36
It works for me in Ubuntu! Please stop opening non-descriptive issues. I don’t want to hear about your hatred of clipboards @DavidLarsson. Go make something you like.

[2018-03-10 15:44] #36 closed

[2018-03-10 16:07] zachcurry commented on #10
@MasonProtter are you still having this problem with the latest on master? If so, maybe we can put a config file to allow users to explicitly define their path to the executable as well as custom options like `--display ns`.

[2018-03-10 20:05] meereeum commented on #30
fwiw, i got a fork of `vim-anywhere` working with spacemacs+{osx,debian} .. just `export EDITOR_EVERYWHERE='/usr/bin/emacsclient --alternate-editor="" -c'` (for example). @zachcurry might be useful for debugging this project!

https://github.com/meereeum/vim-anywhere

[ this comment written in spacemacs ]

[2018-03-10 21:43] zachcurry commented on #30
Siiick @meereeum ! I posted my intention of adding environment configuration to the project in another thread since we've had issues with Automator invoking shell scripts with unprepared PATH variables. As well as allowing the user to configure the degree to which the tool automates their task (i.e. copying text upon invocation).

I like the way you've set up this var. It looks like I could take t

[2018-03-10 23:33] zachcurry opened #37 "Add configuration via environment variables"
* An explicit path and options for emacsclient (shoutout to @meereeum for suggesting a way of doing this)
* Make copying and pasting optional

[2018-03-11 06:04] zachcurry commented on #37
done

[2018-03-11 06:04] #37 closed

[2018-03-11 06:11] zachcurry commented on #30
@ylluminarious @m-cat you can now configure the way **Emacs Anywhere** invokes **emacsclient**.   Get the latest from master and have a look at the section in the **README** titled "Configure". I'm 99.9% sure this will fix your issue.

[2018-03-11 06:12] zachcurry commented on #10
@MasonProtter  @michaelsbradleyjr @tosmi  you can now configure the way **Emacs Anywhere** invokes **emacsclient**.   Get the latest from master and have a look at the section in the **README** titled "Configure". I'm 99.9% sure this will fix your issue(s).

[2018-03-11 06:15] zachcurry commented on #3
@petrosb your feature is ready as a configuration. Get the latest from **master** and take a look at the section title "Configure" in the **README**. Cheers!

[2018-03-12 03:51] feigaoxyz commented on #3
A quick follow-up:
Is there a way to *paste* the copied text into new `*Emacs Anywhere*` buffer automatically?

[2018-03-12 03:57] zachcurry commented on #3
@feigaoxyz no. It seems like a nice compliment to this feature though! Do you think we should add it?

[2018-03-12 04:17] feigaoxyz commented on #3
I do think so. And that's actually PO proposed.
I mean, the whole purpose to **select some text and copy to clipboard before invoking** this tool is to have it shown in the buffer, right?

[2018-03-12 04:20] feigaoxyz commented on #3
p.s.
I think the names `EA_SHOULD_COPY` and `EA_SHOULD_PASTE` need some work, as they are not so self-explain and README does not make them clear.

[2018-03-12 04:48] zachcurry commented on #3
I think you mean OP and I agree after rereading his/her post that he/she intended for the text to appear in the buffer. I must have glanced at the title when I added this late last night, free of charge.

[2018-03-12 05:27] m-cat commented on #30
I'm afraid it still doesn't work for me. I put the following in `config`:

[code]

But I'm still seeing the behavior of pasting from clipboard. If I run `/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -a '' -c` in the terminal, however, Emacs starts as expected.

[2018-03-12 06:33] zachcurry commented on #30
@m-cat If the keyboard shortcut was set properly in **System Preferences** I can't imagine what the problem could be. Does your version of emacs support the **-e** option? The only thing the app does is tack a **-e** option onto your config.

The last thing I can suggest is to make sure you don't have any zombie Emacs processes running and to start the server like this **emacs --daemon**. In fact,

[2018-03-12 12:56] m-cat commented on #30
Thanks for the reply. Going through your comment in order:

I tried several different shortcuts so I don't think this is it. And if I understand it correctly, since the clipboard is pasted, then the _shortcut_ must work, but emacs_anywhere fails to start for some reason. Is that right?

How do I check this?

This didn't work, even on a fresh restart with no apps running. :(

This starts Emacs in t

[2018-03-12 15:42] petrosb commented on #3
Haven't had a chance to try the latest version, but to clarify the OP's comment (:-P), the script I provided above copies the selected text from the app upon activation using
`keystroke "c" using command down -- copy before launching emacs; the yank later pastes it in emacs`opies the selected t
and then when the emacs anywhere buffer is activated is using
`(yank)`
to copy the text from the clipboa

[2018-03-12 16:15] Fuco1 opened #38 "Support XDG Base Directory Specification"
**Linux only**

Hey.  I think it would be cool to support XDG BDS to avoid unnecessary littering of home directory.  The binaries can also automatically install into user's bin directory so they will "just work" without need to adding anything to `$PATH` etc.

https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2018-03-12 16:23] Fuco1 opened #39 "Automatically pick major mode"
I'm not sure what our options are but it would be super cool if I could execute this on say github comment box and the frame would pop up in `gfm-mode` automatically.

I think if we could somehow pass the window title (`xwininfo` can grab that) or some other properties to some callback/hook then we could configure this in our own emacs configs (because we are using the `emacsclient` here).

This p

[2018-03-12 19:58] zachcurry commented on #39
Let me start by saying that I'm a big fan of your work @Fuco1 ! You have added a lot of value to what I get out of Emacs!

Just to give some quick context, this is my first Gtihub repo and my skills with bash, elisp, and Emacs are elementary at best. I could really use the guidance of someone of someone like yourself.

I agree that it would be cool to have some logic/config to set the major mode.

[2018-03-12 20:05] zachcurry commented on #38
@Fuco1 that is a fantastic idea!

Also, we've had some issues with the way I'm handling this OS X. I'd like to get both to point where this just works.

Thanks @Fuco1 !

[2018-03-12 20:15] zachcurry commented on #3
Thanks @petrosb ! I messed up and I didn't see the part where you call `(yank)`. No apologies necessary. I'll see if I can think of a good way of handling the implementation concerns you've brought up because they are totally valid.

[2018-03-12 20:55] Fuco1 commented on #39
Oh, thanks! :blush:

I think a start would be to define a hook variable and add a call to that (using `run-hook-with-args`) in the `progn` you pass to emacsclient to execute.

Next step would be to somehow bake the window title as the argument.  This could probably be done by interpolating it as a constant in the bash script.

[2018-03-13 00:16] zachcurry commented on #30
This is a bummer @m-cat! Perhaps later down the road we’ll have something that just works for everybody. I’ll keep this in mind and ping you when I’ve got something that might work. Thanks for being so patient 👍

[2018-03-14 09:41] zachcurry commented on #11
The command is`toggle-ea`. When the toggle is off, **Emacs Anywhere** will do nothing when the frame is deleted.

[2018-03-14 09:41] #11 closed

[2018-03-14 10:04] #10 closed

[2018-03-14 10:04] #30 closed

[2018-03-14 10:21] zachcurry commented on #8
@mrmen have you had a chance to try the latest on master? There have been quite a few changes since the issue was opened.

[2018-03-14 11:10] mrmen commented on #8
Sorry but right now my mbp is not working. I’ll try it as soon as I can power on it.

--

[2018-03-14 17:07] zachcurry commented on #8
No worries 😉 @mrmen

[2018-03-16 13:36] zachcurry commented on #39
Your advice was very helpful @Fuco1 !. I've got this working in OS X and it's pretty sweet! I'm really glad you thought of this feature!

At the moment I'm passing both the application name and window title to the hook functions since I've found the window title can be just about anything depending on the context and the application. Let me know if you have any concerns about this or if this is no

[2018-03-16 13:40] Fuco1 commented on #39
@zachcurry Very cool!  You can open a pull request or push a branch if you have any troubles so I can review it, I'd be more than happy to!

[2018-03-16 13:49] zachcurry commented on #39
@Fuco1 I'm pushing and making a PR right now. Any help will be greatly appreciated! I know I don't know anything about bash or Emacs Lisp so, don't hesitate to school me on this stuff! If you want feel free to push to this project at will; no need to run it by me.

[2018-03-18 13:32] jaimehrubiks commented on #6
Are you working on this? I think @enko ´s idea is very good since no additional programming would be required and AHK is known to work good. Also, it could be of interest looking at WSL (Windows subsystem for linux) as some people claim it is faster than native version of emacs. Although more configuration would be required probably (x server and clipboard sync).

[2018-03-18 13:54] lobisquit commented on #28
I am intersted in writing the needed PKGBUILD, but, since scripts should be installed in systemd directories (`/usr/bin/`, `/usr/share/`, ...), the possibility setting `EA_PATH` outside `install` and `bin/linux` scripts is needed.

I propose using such reasonable defaults if variable is not set, but keeping it if it is set, this way
[code]
Would you mind if I write a pull request you needed modifi

[2018-03-18 17:10] zachcurry opened #41 "Supply window geometry to ea-popup-hook"
This will allow the user to position the frame relative to the window it was launched from.

[2018-03-18 17:41] zachcurry commented on #28
Hi @lobisquit ! There are a few things we need to get squared away first.

There is a PR up for #39 and soon I'll be putting up a PR for #41. If you branch from **master** there is going to be some *gnarly* merge conflicts.

The other problem is that #38 is going to change the way this is installed. We want to try to keep Mac OS and Linux versions as similar as possible but I've yet to look into h

[2018-03-18 17:53] zachcurry commented on #6
Hi @jaimehrubiks !

I've done zero research into implementing this on Windows. You and @enko are way ahead of me on this! 👍

There are a few big tickets to get out of the way before we implement this one but I'll ping both of you when we're ready.

Thanks for scouting this out @jaimehrubiks and @enko !

[2018-03-18 19:16] lobisquit commented on #28
You are welcome :wink:
For the time being I have forked you repo in order to build the Arch Linux package, but I will stay tuned for installer updates, in order to use your repo in the future.

[2018-03-18 22:40] zachcurry opened #42 "Remove 'delete-frame-functions hook after invocation to avoid unexpected behavior on kill-emacs"

[2018-03-19 17:51] zachcurry opened #43 "Deprecate config file"
This issue is blocked by #44 #45 #46 #47

[2018-03-19 17:52] zachcurry opened #44 "Deprecate EA_SHOULD_COPY option"

[2018-03-19 17:53] zachcurry opened #45 "Allow user to control paste behavior via ea-popup-hook"

[2018-03-19 17:56] zachcurry opened #46 "Configure EA_EDITOR in dotfiles"

[2018-03-19 18:22] zachcurry opened #47 "Emulate an interactive bash session in OS X .workflow"

[2018-03-19 18:24] zachcurry opened #48 "When emacsclient process fails to signal parent process, do nothing"

[2018-03-20 00:35] zachcurry opened #49 "Allow user to control copy behavior via ea-popup-hook"

[2018-03-22 22:41] #43 closed

[2018-03-22 22:41] #44 closed

[2018-03-22 22:41] #45 closed

[2018-03-22 22:41] #47 closed

[2018-03-22 22:41] #48 closed

[2018-03-22 22:41] #49 closed

[2018-03-22 22:57] Fuco1 commented on #39
I think this can now be closed @zachcurry ? Awesome work in #40!

[2018-03-22 23:03] zachcurry commented on #39
@Fuco1 I can't thank you enough for suggesting this feature and acting as my remote code sensei in #40. Epic contribution my friend!

[2018-03-22 23:03] #39 closed

[2018-03-22 23:07] zachcurry commented on #39
Also, I'm thinking about adding an achievements section to the README (like spacemacs has). I hope you don't mind if I put this in there as my all time favorite feature request 😄

[2018-03-22 23:09] Fuco1 commented on #39
That's a good idea, I'll finally become famous! :heart_eyes:

[2018-03-22 23:24] zachcurry commented on #46
Done

[2018-03-22 23:24] #46 closed

[2018-03-22 23:25] zachcurry commented on #42
Done

[2018-03-22 23:25] #42 closed

[2018-03-22 23:25] zachcurry commented on #41
Done

[2018-03-22 23:25] #41 closed

[2018-03-22 23:31] zachcurry commented on #3
@petrosb I think **Emacs Anywhere** will let you do this now. In fact, I think you can do anything with it now 😎

Have a look at the README. A lot of things have changed lately.

Let me know if you have any questions 😄

[2018-03-29 05:37] m-cat commented on #30
Update: looks like it's working for me now. Thanks @zachcurry, this is awesome!

For anyone with the same problem: I don't know exactly what fixed my issue, but here's something you can try. I used the app `KnockKnock` to find a bunch of stuff I didn't want running on my system (i.e. `launchd` items) and then disabled or removed them manually. I also uninstalled a bunch of old apps (using AppClean

[2018-03-29 06:38] ylluminarious commented on #30
@zachcurry @m-cat I haven't been following the conversation very closely, but I appreciate the work that has been done here. Thank you guys!

As per @m-cat's above comment, I decided to try this out again, but I receive the following error in a system popup whenever I run Emacs Anywhere via the keyboard shortcut:

[code]

Anybody have a clue as to what may be going wrong?

[2018-03-29 06:47] m-cat commented on #30
@ylluminarious what is your Emacs version?

Also, did you set `EA_EDITOR` in `~/.emacs_anywhere/config`? For example, I set mine to `export EA_EDITOR="/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -a '' -c"` (I installed Emacs as an app from https://emacsformacosx.com/). You may be running an out of date `emacsclient`.

[2018-03-29 07:03] ylluminarious commented on #30
@m-cat I'm running:

[code]

Also note that this is the [Emacs Mac Port](https://bitbucket.org/mituharu/emacs-mac/) by Yamamoto Mitsuharu. I added the same code to my `~/.emacs_anywhere/config`, but no dice.

[2018-03-29 07:34] zachcurry commented on #30
@m-cat @ylluminarious Emacs Anywhere has been completely reimplemented! Have a look at the README. Configuring the editor is done differently now, so read that part closely. A bunch of people have used this version and I’ve had zero bug tickets. Besides, the new version has some cool features 😎

If you have any questions, I’m here.

[2018-03-29 09:13] m-cat commented on #30
I'm actually a bit confused by that part. I see there is a new command and lots of new variables but where do I put these? My `init.el` file?

[2018-03-29 09:38] zachcurry commented on #30
@m-cat you can define the path to the editor by placing this statement in your **~/.bash_profile**
[code]

Advanced usage via elisp will allow you to configure your frame to do whatever you want based on the values you find in the variables. If you check out the "Examples" section of the README you will see how you can use a function and the hook provided to achieve this, but it's just an optional

[2018-03-29 17:12] ylluminarious commented on #30
@zachcurry Awesome! That does the trick and I can actually use Emacs Anywhere now. I'll definitely have to consider customizing it and seeing what I can do to configure everything :)

Thank you!

[2018-03-29 17:43] zachcurry commented on #30
@ylluminarious my pleasure! Thanks for hanging in there :smile:

[2018-04-07 19:14] arichiardi opened #50 "Emacs anywhere freezes i3 and does not paste"
Hi @zachcurry, I have read on this wonderful package on Reddit and today I finally had time to try it out!

I am using i3 as window manager and Ubuntu 16.04 and will try to explain what happens when I use Emacs Anywhere.

Basically the emacs window opens fine and I can write, but on frame close i3 gets stuck for something that it seems like 5 seconds, without being able to to keypress anything exc

[2018-04-07 23:35] zachcurry commented on #50
Hi, @arichiardi ! I appreciate you taking the time to bring this to our attention 👍

I placed a caveat in the README about **Wayland** window manager, but what I should have said is "you must use **Xorg**". I'll re-word this in the README so I'm not giving people the wrong impression. My bad 😬

I think you can switch to **Xorg** in the login screen of Ubuntu to make this work for you. I realize th

[2018-04-07 23:52] arichiardi commented on #50
I might be wrong but I think Ubuntu `16.04` still uses Xorg, however yes, probably i3 has its own toolset.

Will investigate more.

[2018-04-08 21:37] zachcurry commented on #50
Hey, @arichiardi . You asked about debugging; here's how to do it.
[code]
This will make Terminal the application against which you are debugging *Emacs Anywhere* and should print errors to the console as they occur. Since the Terminal app uses cltr+shft+v to paste, it won't paste to Terminal even if everything is working properly, so you might try prefixing the command I mentioned with a wait so

[2018-04-12 22:28] samwalrus opened #51 "not working with ubuntu"
I am unable to get this to work in Ubuntu. I can not install the dependencies xprop and xwininfo which may be the reason.
$ sudo apt-get install xprop
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package xprop

sudo apt-get install xwininfoReading package lists... Done
Building dependency tree
Reading state information... Done
E: Unab

[2018-04-12 22:50] zachcurry commented on #51
Hi @samwalrus !

Give me a moment to fire up my VM and test this...

[2018-04-12 23:04] zachcurry commented on #51
@samwalrus, clearly I messed up writing the README. **xprop** and **xwininfo** seem to be included in another package for **xorg**. Try these two commands to see if you've already got them.
[code]
This should return the path for each, if it exists.

I really appreciate you bring this to my attention btw! 👍

[2018-04-12 23:37] zachcurry opened #52 "Remove xprop and xwinfo from list of apt-get packages in README"

[2018-04-12 23:39] zachcurry opened #53 "Add a clause stating the user must be using xorg with Linux"

[2018-04-12 23:50] #53 closed

[2018-04-12 23:50] #52 closed

[2018-04-12 23:51] #51 closed

[2018-04-15 01:54] zachcurry commented on #38
Will do in a few days time 📆

[2018-04-26 19:30] rfinz opened #54 "Emacs anywhere fails when OSX App name has a space in it"
Attempting to paste into "Firefox Developer Edition", emacs-anywhere would close the frame and paste its contents into whatever buffer was open in the main emacs instance. Renaming to "Firefox" fixed the issue for me.

Mac OSX High Sierra 10.13.4

[2018-04-27 08:00] zachcurry commented on #54
Hi, @rfinz ! 👋

Thanks for taking the time to tell me about this. Let's run a test and find out what's going on, if that's cool with you?

Start by clearing your workspace to avoid problems with the random paste behavior. Next, invoke **Emacs Anywhere** with **Firefox Developer Edition**. Then, do a
[code]
I can confirm that **Firefox Developer Edition** reports it's name as "firefox" on my machin

[2018-04-27 15:13] rfinz commented on #54
Thanks for responding! I've updated the name of this issue to reflect the more nuanced reality discovered through your more rigorous (mine was heinously casual) testing. Hopefully this ticket's presence helps someone fix the issue for themselves. I'll let you know if I think of a more general solution.

[2018-05-09 13:40] gambhiro opened #55 "update the content with a keystroke without deleting the frame"
Hello!

I would like to recommend a keystroke to update the content of the original window while still editing.

This is useful where the interaction with the text is much longer -- i.e. when one doesn't just jump into the editor and out.

But even here when writing this issue text. I'd like to:

- open it in emacs, change to Markdown mode
- type some text
- call some function to update the issue

[2018-05-09 20:32] zachcurry commented on #55
Hi, @gambhiro 👋

I appreciate you taking the time to share this!

The current implementation of **Emacs Anywhere** depends on tools that are capable of managing windows and sending keystroke events. In theory, it is possible to write a solution for your scenario and hook it as described in the README; However, it would be quite ugly to do this with the current version of **Emacs Anywhere**!

A goo

[2018-05-20 13:13] Reefersleep opened #56 "On invoking the shortcut, I receive an error popup reporting 'The action “Run Shell Script” encountered an error.'"
On invoking the shortcut, I receive an error popup reporting 'The action “Run Shell Script” encountered an error.'

The popup has the options "OK" (dismissing the poup) and "Show Workflow", which opens "/Users/ree/Library/Services/", showing `Emacs Anywhere.workflow`. If I try to open it and run it in Automator, I get an error popup showing

**The action “Run Shell Script” encountered an error.**

[2018-05-20 20:52] zachcurry commented on #56
Hi @Reefersleep 👋

I'm loving the username! Im' thinking my name should have been Reefer*code* 😄

I believe the answers you're looking for are in the README, albeit a garbled mess:
*  You don't add permissions for **Emacs Anwhere**, rather the application you are using it with, namely **Firefox** for the example you've given. I'll reword this to avoid confusion in the README.

* Be sure your **Ema

[2018-05-27 21:38] heartb1t opened #57 "Support for OpenBSD"
I'd like to know why there is no support for OpenBSD. Is there any tool been used that ties it to Linux and GNU/Linux distributions? What would be needed to add support to OpenBSD (and, while I'm at it, the other BSD's too)?

[2018-06-03 12:57] Reefersleep commented on #56
Hello 👋

Thanks! Sorry for being a bit curt when writing the issue. I had postponed it and wanted to get it out of the way, so it ended up very matter-of-factly :)

I normally use `emacs --daemon` and `emacsclient` without hitches. I tried with `export EA_EDITOR='emacsclient -a "" -c'`, and it didn't seem to make a difference.

I tried giving Accessibility permissions to Firefox, but it made no di

[2018-06-04 20:13] zachcurry commented on #56
Does running the following command launch Emacs in your environment?
`emacsclient -a "" -c`

[2018-06-05 18:30] Reefersleep commented on #56
It does :) Both with the daemon running and not.

[2018-06-07 16:04] zachcurry commented on #56
Excellent! I think if you add the absolute path to the EA_EDITOR export, it will work. On Mac I have to rebuild the PATH variable because osascript doesn’t run shell commands interactively. It’s possible the executable is not being found and simply prefixing the path to the command in your export will solve the problem.

Be sure you’ve got the latest version of Emacs Anywhere, a fully qualified pa

[2018-06-09 05:29] zachcurry commented on #57
Hi, @heartb1t 👋

At the moment *Emacs Anywhere* relies upon tools for Xorg, but there is nothing else that restricts it's use. As long as you are using Xorg as your window manager, it should work; though, I personally haven't tested it outside of Ubuntu.

In truth, this tool was something I made for myself (a Mac user) and I ported it because a number of people asked for it, but I'm largely unfami

[2018-06-23 16:03] ar1a commented on #57
OpenBSD has Xorg.

[2018-06-23 16:09] ar1a commented on #28
https://aur.archlinux.org/packages/emacs-anywhere-git/ found this

[2018-06-23 21:50] ninrod commented on #28
Is it working?

[2018-06-23 22:03] zachcurry commented on #28
That is an official package that’s way out of date. I told him/her not to publish it, but what can you do? 🤦‍♂️

[2018-07-01 18:32] Reefersleep commented on #56
I tried putting `export EA_EDITOR='/usr/local/bin/emacsclient -a "" -c'` in my `~/.bash_profile`, `source ~/.bash_profile`, and triggering the shortcut in Firefox - same error as before. Firefox has Accessability permissions.

[2018-07-01 18:46] Reefersleep commented on #56
It dawned on me that `source`ing the file is not enough to the exported path in a global context, so I logged out and in and checked once again. This time I got the same error popup plus a popup saying that `System Events.app` needed permissions in `Security & Privacy > Accessibility > Allow the apps below to control your computer.`. I gave it permissions, but the same old error persists.

[2018-07-01 19:31] zachcurry commented on #56
I'm not sure how to proceed...

My **emacsclient** file is in the same directory as yours and when I get the `emacsclient: error executing alternate editor """"` message I fix it by running `emacs --daemon`.

# Questions
Does **Emacs Anywhere** work with any other applications in your environment?

Have you tried tinkering with the source code?

# Solve a similar problem
Perhaps you could write a

[2018-07-23 12:11] Reefersleep commented on #56
I decided to try Emacs Anywhere on a whim. It's not that important to me to get it working, so I'm going to let the issue rest for now. If it works for everyone else, great :)

[2018-11-16 09:55] zeltak opened #58 "new to OSX, tell EA to open on current space?"
Hi again! been using EA for months on linux and lovin' it :)

Now at work have to use OSX and it works well. only issue is that emacs is always on space #1 and chrome on space #2. when i launch EA it takes me automatically to space #1 where EA opens.
Anyway to define the EA frame to open on the current space where it was launched from?

thx!!

Z

[2018-11-17 23:43] zachcurry commented on #58
Hey buddy 👋 it’s been a while.

I’m aware of this issue. I have yet to look into a solution to this problem. If you look at the source code for this tool you will see that it’s a tower of dirty hacks and the solution to this issue, if it exists, will be another dirty hack. If it is possible to get the workspace number of the active window from System Events via AppleScript and if it’s possible to

[2019-04-06 15:01] xeijin commented on #6
This freeware tool solves the Windows use-case pretty well (and will even bring what is already in the text area into emacs)

https://www.listary.com/text-editor-anywhere

[2019-05-15 08:29] jjzmajic commented on #28
Any udates on this? @zachcurry just found out about this, and it freaking made my day. Thanks you! An AUR package would just be the perfect little cherry on top.

[2019-05-19 02:11] zachcurry commented on #28
Hi, @jjzmajic ! I'm glad to hear you dig the tool my friend.

I haven't had time to work on this project for quite a while. Perhaps one of these days I'll have a few free cycles to add an AUR package. Perhaps one of the good people in the community will beat me to it. I'll be sure to ping you if anything changes.

Go with Emacs,
Z.

[2019-06-09 02:12] jjzmajic opened #59 "Do not hardcore installation directory"
This would make it possible to just add it to path from anywhere, and it would even be possible to set up with `straight.el` and `use-package`. This kind of makes sense as it is strictly an emacs-related plugin so it should be configurable inside `.emacs.d`. It wouldn't be the first time that non-elisp stuff went into an Emacs package (e.g. `tide` and it's `tsserver` directory)

[2019-06-09 22:18] zachcurry commented on #59
Howdy, @jjzmajic!
While I fancy myself a hardcore dude, I try not to hardcore my Emacs gang; that's not how I try to live my life, and I appreciate you bringing this to our attention. I’ve been keeping myself busy with other matters, so I call upon my Emacs gangsters (e.g., you) to fire a pull request my way, lest we be disgraced by too many open issues.

Go with Emacs,
Z

[2019-06-10 01:08] jjzmajic commented on #59
You got it! Expect one by the end of the week. You open to also including a use-package config example in the wiki?

[2019-06-10 05:44] zachcurry commented on #59
@jjzmajic,
If you do this, you will be the first to make a significant pull request to this repository, a real @#$*ing legend! An example in the README would be a great addition, and I'm all for it. The only things we need to keep in mind is that this is a cross-platform plugin (i.e., can't break it here, nor there), and we will need to think about how to deal with the existing directory (e.g. do

[2019-08-28 21:06] alienbogart opened #61 "Does not work with the freecodecamp editor"
### Runtime Environment

- OS: MX Linux 18.3
- i3 version 4.13 (2016-11-08)
- [i3/config](https://github.com/mrbig033/dotfiles/blob/master/i3/config)
- [dotfiles](https://github.com/mrbig033/dotfiles)
- GNU Emacs 27.0.50
- Org mode version 9.2.3
- [~/.emacs.d](https://github.com/mrbig033/emacs)
- [atomic-chrome](https://github.com/alpha22jp/atomic-chrome) version 20180617.724
- [atomic-chrome: use

[2019-08-31 02:31] zachcurry commented on #61
Hi, @mrbig033,

The method by which this tool achieves it's purpose is simple and this is the reason why it works with all applications, but perhaps you have found an exception.  What this tool does is simply copy the text from your Emacs buffer to your clipboard, switch focus back to the application you were using, and paste. It's a pretty fool proof method. If it works for you everywhere with th

[2019-09-02 15:14] mrbig033 commented on #61
I seem to have made a mistake. I started trying to use Emacs Anywhere but ended up using these similar extensions instead - `~/.emacs_anywhere/bin/run` doesn't run if I bind it through i3wm. They're not at all affiliated with this project. Regardless, I binded `~/.emacs_anywhere/bin/run` using `xbindkeys`, and it worked fine on text fields, except on Free Code Camp.

[2019-09-11 21:03] jsholmes opened #62 "Does this work on mojave?"
[code]

[2019-09-11 22:53] zachcurry commented on #62
Hi @jsholmes,

If memory serves, I recall the install working as expected with Mojave. Judging by the console output, your environment requires your permission to write to your `~/Library/Services` directory. You can complete the installation process (manually) by copying `~/.emacs_anywhere/Emacs Anywhere.workflow` to `~/Library/Services`. Then, you should be ready to proceed as per usual and assi

[2019-11-02 06:04] tecosaur opened #63 "Question: How to launch under cursor?"
Hi,

I've just started using this and like it so far. There's one thing I can't work out how to do, I'm hoping someone can help me with this.

I have windows focus set to where my cursor is, so if emacs-anywhere starts somewhere outside of my cursor position, then it doesn't get focus.

I'm thinking the best solution to this would be to position the middle of the emacs-anywhere window just under t

[2019-11-02 19:06] zachcurry commented on #63
Hi @tecosaur,
I'm glad to hear you are getting some use out of this project.

If I am understanding the issue correctly, it happens because of the way your window manager is configured (i.e., to focus the application which is under your mouse cursor). As it stands now, we don't provide any information about the cursor's position, but if we did, I suspect that you could make use of this information

[2019-11-03 03:30] tecosaur commented on #63
Hmm. I've had a look and this seems useful. Perhaps we could add some some env vars like `EA_MOUSE_X`?
[code]

[2019-11-03 04:20] tecosaur commented on #63
Well, I've managed to get it working with
[code]
So I'll close the issue for now :)

[2019-11-03 04:20] #63 closed

[2019-11-03 17:06] zachcurry commented on #63
Nice! I'm glad you've got something working, @tecosaur!

Do you think we should add this example to the README?

[2019-11-03 17:09] tecosaur commented on #63
I'm not sure if it's a common 'issue', but I know that I personally prefer the positioning; simply on the basis that my attention is usually around where the cursor currently is.

As to whether it would benefit the readme, I'll leave you to judge :)

[2019-11-03 17:17] zachcurry commented on #63
For now, I'll keep this issue in the back of my mind. If we get more questions like this, I'll definitely throw it in the README.

Thanks again for bringing this to everyone's attention and for sharing your solution.

[2019-11-13 16:24] awkspace opened #64 "Populate the buffer with the current contents of the textarea"
This project is awesome for writing new text, but I'd like to be able to edit text that's already present. Right now I just copy/paste it into Emacs when invoking emacs-anywhere, but I was wondering if this was possible to get automated?

[2019-11-15 21:37] zachcurry commented on #64
Hi @awkspace,

There is no option for automating this use case via the package. We've had discussions about this use case in the past and decided that selecting, copying, and pasting was preferable to automation because it gives the user more control over how text is edited, but If you can think of a clever way of providing this feature in such a way that the hook function(s) have a say in whether

[2019-11-18 10:25] NatHarari commented on #62
Hey there, I'm trying it with Spacemacs and it half-works. Currently on Catalina, 10.15.1, Spacemacs Dev 0.3 latest build (it changes all the time so whatever is current since the last day or two or three), using Firefox 70.0.1 to test input.

I set my keystroke to control-shift-E in the system preferences after installing emacs-anywhere with curl (no problems there). I then tried the keystroke in

[2020-02-25 13:12] dariusbdockery commented on #58
I know this answer is a bit late, but this sounds like a similar problem I was having. This might not be an EA issue. I assigned Emacs to `this desktop` (**through the options menu from the dock in Mac OS**) so I would have windows in the right place at startup. So anytime Emacs launched a new frame (like EA), the frame would pop up on the assigned desktop instead of where it was called from. I ju

[2020-02-29 13:38] tecosaur commented on #64
I thought I might just contribute my approach here. I also run into the situation where I want to over-write some text, and populate emacs-anywhere with it. I do this by selecting the text, which if you want to do in say a textbox is of course as easy as `Ctrl A`, then add the following into my `ea-popup-handler` hook:

[code]

When exiting emacs, via default OS behaviour, the selection is overwri

[2020-02-29 14:34] tecosaur opened #65 "More robust pasting"
Hello,

I notice that ATM, we use `Ctrl+v` for pasting. Quite a few apps (e.g. emacs, terminal) use that for something else. It seems that a much safer method (used by CopyQ) is to use `Shift+Insert`.
https://github.com/zachcurry/emacs-anywhere/blob/05bf8ef119834d330803bdad91f9028ff87cc7b9/bin/linux#L47

Perhaps this should be used instead?

[2020-03-02 19:49] d1egoaz commented on #64
not sure if its' because I'm on OSX but your idea @tecosaur doesn't work for me.

I've tried:
[code]
even with the `when` clause:
[code]

it doesn't work, my doom-emacs closes the window immediately, not sure why apparently the call to `(gui-get-selection 'PRIMARY)` makes the frame to close

[2020-03-03 01:09] tecosaur commented on #64
@d1egoaz I went through a few iterations after that initial comment, I now have
[code]
Which works for me. I'm on linux though so...

[2020-03-03 20:38] d1egoaz commented on #64
yeah, it doesn't work for OSX 😞

[2020-03-26 16:51] tecosaur commented on #64
I've got another iteration of this to make up for `(gui-get-selection 'PRIMARY)` often giving a bogus non-active selection, thanks to some help I got.

[code]
Press <kbd>DEL</kbd> or <kbd>C-SPC</kbd> immidiately after pulling up EmacsAnywhere and it will clear the buffer.

You can find my complete config for EA here if it's of any use to anyone,
https://github.com/tecosaur/emacs-config/blob/e9a8ce

[2020-03-26 16:54] tecosaur commented on #38
@zachcurry \*cough :smile:

[2020-03-26 22:40] zachcurry commented on #38
Feel free to send a pull request for this issue @tecosaur

[2020-04-01 16:14] sickerin commented on #65
I second this, I've swapped my ctrl and capslock, and for some reason using ctrl+v results in "V" being pasted. Modifying it to Shift + Insert makes it work. I've also found that it doesn't work in applications where the shortcut for paste isn't ctrl+v. Shift + Insert is probably more universal.

[2020-04-22 18:16] d1egoaz commented on #62
@NatHarari for your issue you need to make sure that `Script Editor` is in
System Preferences > Security & Privacy > Privacy > Accessibility

if not, add it, `Script Editor` is in `/Applications/Utilities/Script Editor.app`

[2020-04-22 18:19] d1egoaz commented on #62
https://github.com/zachcurry/emacs-anywhere/pull/67

[2020-04-22 18:22] d1egoaz commented on #56
I'm little late to the party, @Reefersleep you can checkout https://github.com/zachcurry/emacs-anywhere/pull/67 as might be having a different osascript error

[2020-04-30 16:38] Reefersleep commented on #56
I tried doing as in #67, @d1egoaz , but it didn't make a difference in my case; I still get the same error.

[2020-06-26 14:55] nesteiner opened #68 "How to define my shotcut"
I am a noob of elisp user, I don't know how to creaet shotcut in `.emacs_anywhere/bin/run`,can you give me an example?

[2020-07-11 23:54] imxxb commented on #68
in the install file, some codes not work.
[code]

run codes in the shell.

[2020-09-09 18:07] #65 closed

[2020-09-17 15:04] mrcnski commented on #56
I was seeing the same error and had tried everything suggested here. I was running the server from my main Emacs instance so I eventually tried:

[code]

I had to also restart the server but now it works!

So make sure you are using an `emacsclient` that corresponds to your `emacs`.﻿

The only remaining problem is that my main Emacs instance gets the focus instead of the new frame that comes up.

[2020-09-17 15:25] mrcnski opened #70 "README should be more clear about where to put configuration"
﻿# README should be more clear about where to put configuration

Hello and greetings, fellow human.

The README does not make it clear that the variables, hooks *et cetera* should be set on the Emacs server (i.e. placed in `init.el`).

I heartily thank you for reading.

---

*Written using Emacs with Emacs Anywhere. Submitted with Firefox on OSX.*

[2020-09-17 15:48] mrcnski commented on #3
Looks like the original complaint still doesn't work:

[2020-10-01 00:28] LucaMarconato commented on #56
I am experiencing the same problem.

I have tried @m-cat approach but it didn't work.
Specifically, my `emacsclient` is invoking `/usr/local/bin/emacsclient`, so I have replaced `EA_EDITOR='emacsclient -a "" -c'` in `~/.emacs_anywhere/bin/emacstask` with the equivalent with the full path, and I added

`export EA_EDITOR='/usr/local/bin/emacsclient -a "" -c'`

in my `~/.bash_profile`. Nothing change

[2020-10-02 14:43] tecosaur commented on #3
@m-cat I have something close to this in my config, this may be of interest: https://tecosaur.github.io/emacs-config/config.html#emacs-anywhere-configuration it pastes the last/active selection (it's hard to tell if which), and deletes the buffer content if the first keystroke is backspace.

[2020-11-29 20:13] LucaMarconato commented on #56
Any news on this? I am still stuck

[2020-11-29 20:34] LucaMarconato commented on #56
Solved:
1) I needed to add the permission for every app I want to use
2) I changed EA_EDITOR to `export EA_EDITOR='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient -a "" -c -d $DISPLAY'`

[2020-12-11 19:33] benlind commented on #56
I use emacs-plus via homebrew along with zsh. I had to create a .bash_profile file with this line:

[code]

[2021-01-08 03:52] QiangF opened #71 "Paste not working when there is a physical key pressed"
I bind delete-frame to hyper-space, because c-x 5 0 is too many keys to press. Sometimes I did not release hyper key quick enough, and the content is not pasted. I am looking for a way to let xdotool ignore the maybe pressed hyper key.

[2021-01-08 03:56] QiangF commented on #71
The issue can be avoided by binding delete-frame to shift-space. But that binding is used in many applications.

[2021-01-27 17:00] d1egoaz commented on #56
I was having again the same issue,
this time this worked for me:

https://apple.stackexchange.com/a/394983

Just open a terminal and run `osascript -e 'tell application "System Events"' -e 'keystroke "echo hi"' -e end tell` that will add system events to the list, even though I added it manually before 🤷

[2021-10-25 09:17] DanielRichtmann commented on #3
I have a working version of this functionality for linux, see https://github.com/DanielRichtmann/emacs-anywhere

[2022-02-23 07:19] sincebyte opened #73 "Mac"

[2022-02-23 07:19] sincebyte opened #74 "Macos"
~/.emacs_anywhere/bin/emacstask: line 9: emacsclient: command not found

[2022-02-23 07:42] #73 closed, assigned to nobody

[2022-02-23 07:44] sincebyte commented on #74
I change emacstask it works

[2022-02-23 07:44] #74 closed, assigned to nobody

[2022-08-04 16:32] pdelfino opened #75 "Would you recommend an especific keybinding (shortcut) on macOS?"
Hi,

This project seems to be quite cool!

I am trying this on macOS. Would you recommend a specific keybinding (shortcut)? Are there some frequent ones?

I know keybindings are a bit subjective. But there is also common sense in the choice. And I am new to macOS. Hence, I am not familiar with the default choices and the "philosophy" of the UX.

Thanks

[2022-08-04 16:37] pdelfino opened #76 "Is emacs-anywhere compatible with tiling window managers?"
Hi,

Congrats on the project. Looks pretty cool.

I am planning to use it on a new macOS machine. I am also planning to try this[ tilling window manager](https://github.com/ianyh/Amethyst).

Is emacs-anywhere compatible with tiling window managers? Or does it only work with the default desktop environment and window manager from Apple?

Apparently, there is a window manager being used on the GIF o

[2022-08-04 23:12] pdelfino opened #77 "Is it really necessary to use `C-x 5 0`? Why can't I use classic `C-x C-x` to quit?"
Hi,

I have been trying this extension. It is pretty cool!

On documentation, you guys mentioned the use of =C-x 5 0= to quit. Or =:q= for Evil folks.

But, I have been using classic =C-x C-c=. Apparently, it works as expected. For instance, doing it does **not** close the Emacs that I am using to code.

Am I missing something? Is it problematic in some way?

[2022-08-04 23:22] pdelfino opened #78 "Please, package this for NixOS"
Hi,

I am quite enjoying this software. In my professional life, I use macOS. On the other hand, in my personal life, I use NixOS (Linux distro).

Unfortunately, it is not possible to install it with `sudo apt-get...` in NixOS. And, it is [not an available package](https://search.nixos.org/packages?channel=22.05&from=0&size=50&sort=relevance&type=packages&query=emacs-anywhere) for NixOS.

Is there

[2022-08-17 23:32] pdelfino opened #79 "Is it possible to configure emacs-anywhere with Karabiner-elements instead of setting a hotkey via the GUI SystemPreferences/keyboard/shortcuts/services/general?"
Hi,

I really like this emacs-anywhere software!

Currently, I am following the instructions on the README file. Hence, I have defined a hotkey via macOS' GUI on `SystemPreferences/keyboard/shortcut/services/general`.

However, I am managing all my hotkeys with [Karabiner-elements](https://github.com/pdelfino/my-karabiner-elements-config). I like the text-driven approach via JSON file. This is [my

[2022-08-22 23:43] pdelfino opened #80 "Feature request: save content of frame on kill ring before it is deletion"
I managed to find a nice short hack to save the frame's content on kill ring before the frame is gone.

This helps in case the user changes the cursor position to a non-text box space.

[See it here](https://emacs.stackexchange.com/questions/73209/how-to-add-a-hook-to-save-things-on-kill-ring-or-clipboard-ring-before-a-frame/73215#73215) for the context and the solution using Elisp code.

Any how,

[2022-08-28 19:49] pdelfino opened #81 "Feature request: bring content already written on the text box to the frame created by Emacs Anywhere"
Hi,

I wish the content already written on the text-box would be brought to
the Emacs frame created by Emacs Anywhere.

Right now, Emacs Anywhere starts an empty frame, independent of
content on the text box being empty or not. I believe the content
should be copied and pasted in Emacs (if there is any content to do
so).

Right now, as an alternative, I have been manually copying and pasting
thing

[2022-09-09 11:56] larrasket commented on #77
Hello, I had the same issue. I tried to use `emacs-everywhere` but it was way too slow I
didn't know why. I tried to add a `lambada()` in a hook to rebind it but never worked as
well, however, I was able to find the following workaround at the end

[code]

Works great.

[2022-09-09 23:58] QiangF commented on #77
By default, you should use C-c C-k to quit.